@charset "utf-8";
/* CSS Document */

	
	
#ustmenu{
	margin-left:0px;
	margin-right:0px;
	
	height:50px;
	background-color:#FFF;
	line-height:80px;
	margin-left:200px;
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;

	}	
	nav{
		width:100%;
		height:50px;
		background-color:#C00;
		color:#FFF;
		line-height:20px;}
		
	nav ul{
		list-style:none;
		margin-left:140px;
		
		}	
		
	nav ul li{
		float:left;
		margin:20px;
		color:#FFF;}	
	nav ul li a{
		text-decoration:none;
		text-shadow:#FFF;
		color:#FFF;
		
		}	
		
		
		.sil{
			clear:both;}
		
		#banner{
			margin-left:200px;
			margin-top:10px;}
			
			
			#kutubir{
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);
				color:#000;
				width:990px;
				margin-left:200px;
				height:100px;
				margin-top:10px;}
		
			
			h3{
				margin-top:5px;
				padding:10px;
				 }
			
			
			#kutuiki{
				
				float:left;
				margin-top:10px;
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);
				margin-left:200px;
				
				width:480px;
				height:250px;
				border-radius:5px;
				
				}
			
			h4{
				margin:15px;}
			
			
			p{
				margin:15px;}
			
			.btndevam{
				color:#F00;
				text-decoration:none;
			}
			
			#kutuuc{
				float:left;
				margin-top:10px;
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);
				margin-left:25px;
				
				width:480px;
				height:250px;
				border-radius:5px;
				
				}
			
			h4{
				margin:15px;}
			
			
			p{
				margin:15px;}
			
			.btndevam{
				color:#F00;
				text-decoration:none;
			}
			
			#kutudort{
			
				float:left;
				margin-top:10px;
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);
				margin-left:200px;
				
				
				
				width:480px;
				height:250px;
				border-radius:5px;
				
				}
			
			h4{
				margin:15px;}
			
			
			p{
				margin:15px;}
			
			.btndevam{
				color:#F00;
				text-decoration:none;
			}
			#kutubes{
			
				float:left;
				margin-top:10px;
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);
				margin-left:25px;
				
				
				
				width:480px;
				height:250px;
				border-radius:5px;
				
				}
			
			h4{
				margin:15px;}
			
			
			p{
				margin:15px;}
			
			.btndevam{
				color:#F00;
				text-decoration:none;
			}
			.sil{
			clear:both;}
			
			.alt{
				text-align:center;
				margin-top:15px;
				width:100%;
				height:50px;
				line-height:50px;
				box-shadow:0 2px 8px 2px rgba(20,23,28,.15);}
				
				
				h2{
					text-align:center;}
				
				
				.yazi{
				
					
					text-align:center;
					width:1000px;
					height:90px;
					padding:20px;
					margin-left:180px;
					}
					.resim{
						float:left;
						margin-left:200px;
						margin-top:10px;
						border-radius:5px;}
				
				.kututext{
					padding:10px;
					
					width:650px;
					height:200px;
					margin-top:10px;
					
					
					float:left;
					}
				
				.sil{clear:both;}
				
				.cokluresim{
					border-radius:5px;
					
					margin:40px;
					margin-left:100px;}
				
				.cokluresim:hover{
					opacity:.8;}
				
				.bilgı{
					margin-left:200px;
					float:left;
					font-size:20px;
					width:200px;
					height:350px;
					padding:5px;}
				
				.form{
					margin-left:400px;
					
					width:200px;
					height:300px;
					float:left;}
					
			iframe{
				width:950px;
				height:300px;
				margin-left:200px;
				}
				
				.sil{
					clear:both;}
				
				
				